{% extends "core/two_column_right.html" %}

{% block title %}
 Edesia - O projektu Edesia
{% endblock title %}


{% block top_content %}
    <h1>O projektu Edesia</h1>
    <img id="aboutpic1" src="{{MEDIA_URL}}layout/aboutpic.jpg" alt="" style="padding-left:20px;"/>
{% endblock %}

{% block right %}


<p>Internetová kuchařka Edesia by měla sloužit nejen k získání kuchařské inspirace a nových receptů, ale i k snadnému sdílení Vašich vlastních či oblíbených jídel. Také zde naleznete postupy přípravy známých a osvědčených pokrmů.</p>
<p>Rád bych Vám na těchto stránkách nabídl příjemné prostředí, kde vymýšlení jídla na večeři nebude stresujícím, ale naopak radostným a motivujícím zážitkem.</p>

<p>Kuchařka i s recepty je zatím pouze v začátcích, nicméně již nyní zde můžete nalézt množství receptů. Nechybí zde možnost podělit se o své vlastní recepty, případně vložit Váš názor na recepty již existující.</p>

<p>Pokud budete mít jakékoli připomínky, nápady či podněty k fungování těchto stránek, neváhejte mi je sdělit na emailové adrese <a href="mailto:info@edesia.cz" >info@edesia.cz</a> nebo pomocí formuláře na stránce <a href="http://www.edesia.cz/contact/">Kontakt</a>.</p>

<p>Fotografie použité pro design těchto stránek jsou převzaty ze stránek <a href="http://www.sxc.hu/">sxc.hu</a> a jsou šířeny pod volnou licencí. Design byl navržen grafickým studiem <a href="http://www.xyris.ca">Xyris</a>. Za pomoc s vytvořením grafického návrhu bych také chtěl poděkovat Rudolfu Kaňákovi.</p>



<h2>Význam slova Edesia</h2>
<p>Edesia byla ve starém Římě bohyní slavností a hostin. Proto byl tento projekt pojmenován podle ní, neboť doufám, že zde naleznete recepty, které obohatí Váš jídelníček nejen ve všední dny, ale také ve dny sváteční.</p>

<p>Přeji Vám dobrou chuť.</p>

<p style="padding-left:155px;"><span class="author">Karel Šťastný</span></p>

{% endblock right %}

{% block bottom_content %}
<img id="aboutpic2" src="{{MEDIA_URL}}layout/aboutpic2.png" alt="" />
{% endblock bottom_content %}
