<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/styles.css"/> 
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="index, follow" />{% endblock %} 
    <meta name="author" content="Karel Stastny" />
    <meta name="keywords" content="recepty, recept, kucharka, vareni, jidlo" />
    {% block meta_description %}
    <meta name="description" content="Internetová kuchařka pro všechny lidi, kteří se rádi dobře najedí a nebojí se vařit. Obsahuje recepty pro všední i sváteční příležitost." />
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% comment %}
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <link rel="Shortcut Icon" href="favicon.ico" />
    {% endcomment %}
  </head>
  <body>
  <div id="body">
      <div id="banner">
          {% block banner %}
          <a href="{% url home %}"><img src="{{MEDIA_URL}}layout/banner.png" alt="Link to home page" /></a>
          {% endblock banner %}
    </div>
    <div id="menu">
      <ul id="menu_list">
            {# TODO setting of "current" style, with the li id="current" #}
            {# <li id="current"><a href="index.html">Home</a></li> #}
            <li><a href="{% url home %}">Úvod</a></li>
            <li><a href="{% url category_list %}">Recepty</a></li>
            <li><a href="/about/">O stránkách</a></li>
            {# <li><a href="">Odkazy</a></li> #}
            <li><a href="/contact/">Kontakt</a></li>
            <li><a href="/query/">Vyhledávání</a></li>
            <li>
                <div id="login_info">
                  {% block login_info %}
                    {% include "auth/login_info.html" %}
                  {% endblock login_info %}
                </div>
            </li>
      </ul>
    </div>
    <div id="separator">
      <hr />
    </div>
    <div id="main">

        {% block content %}
        {% endblock content %}

    </div>

    <hr class="cleaner" />

    <div id="footer">
      <span id="footer1">
        Powered by Edesia&trade;&nbsp; &copy; 2010 - 2011 <a href="mailto:stastny@edesia.cz">Karel Šťastný</a>&nbsp; &nbsp;
      </span>
      <span id="footer2">
        {% comment %}
        <a href="{% url home %}">Home</a> |
        <a href="/sitemap.xml">Sitemap</a> |
        <a href="index.html">RSS Feed</a> |
        <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
        <a href="http://validator.w3.org/check/referer">XHTML</a>
        {% endcomment %}
        <a href="http://www.facebook.com/#!/pages/Edesiacz/140433052645668">Facebook</a>
      </span>
    </div>
</div>
{# Google Analytics code #}
{% if hide_google_analytics %}
{% else %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8194478-2']);

  //user type
  _gaq.push(['_setCustomVar', 1, 'login_info', '{{ flags.user }}']);
  
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% comment %}
    COMMENTED OLD TRACKING CODE
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8194478-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    {% endcomment %}

{% endif %}
    {# Google Analytics code end #}
  </body>
</html>
