{% extends "core/base.html" %}
{% load edesia_extras %}

{% block title %}
 Edesia - Kategorie
{% endblock title %}

{% block content %}

{# TODO generate dynamically - solve where to store the structure #}
<h2>Kategorie receptů</h2>
<p><a href="{% url recipe_list %}">Všechny recepty</a></p>

    <div class="grid_4 alpha">
    <ul>
    {% for tag in tags_first %}
        <li>
        <a href="{% url recipe_list tag.slug %}">{{ tag.name }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="grid_4 omega">
    <ul>
    {% for tag in tags_second %}
        <li>
        <a href="{% url recipe_list tag.slug %}">{{ tag.name }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>


{% endblock content %}

