{% extends "core/two_column_right.html" %}
{% load edesia_extras %}

{% block title %}
Seznam kategorií receptů
{% endblock title %}

{% block top_content %}
    <br />
    <img id="aboutpic1" src="{{MEDIA_URL}}layout/pohar.jpg" alt="" 
    style="position:relative;top:0px;padding-left:80px;"/>
{% endblock %}

{% block right %}

<h1>Kategorie receptů</h1>
    <div style="width:440px;">
        <p><a href="{% url recipe_list %}">Všechny recepty</a></p>

        <div style="float:left;">
        <ul>
        {% for tag in tags_first %}
            <li>
            <a href="{% url recipe_list tag.slug %}">{{ tag.name }}</a>
            </li>
        {% endfor %}
        </ul>
        </div>
        <div style="float:right;">
        <ul>
        {% for tag in tags_second %}
            <li>
            <a href="{% url recipe_list tag.slug %}">{{ tag.name }}</a>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>


{% endblock right %}
