{% extends "core/base.html" %}
{% load edesia_extras %}

{% block title %}
 Edesia 
{% endblock title %}

{% block content %}
    <div style="margin-left:65px;float:left;margin-top:10px;">
    {% comment %} 
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FEdesiacz%2F%23%21%2Fpages%2FEdesiacz%2F140433052645668&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
    {% endcomment %}
    </div>

{# TODO display as some type of tip - display different tips #}
<p class="daily_tip" style="float:left;width:900px;" >Prohlédněte si všechny <a href="{% url category_list %}">kategorie</a> receptů kliknutím na tlačítko 
<a href="{% url category_list %}">"Recepty"</a>.</p>

<div style="clear:both" ></div>

<div id="uvod_prvni">
    <h2>Nejnovější recepty</h2>
    {% for recipe in recipes %}
        <p>
        <a href="{% url core.views.recipe_detail recipe.slug %}" >{{ recipe.name }}</a>{# <span class="pravo">{{ recipe.inserted|date:"j.n.Y" }} #}</span><br />
          {# TODO use for description later (eventually) <span class="popisek">popisek v jednom radku</span> #}
        </p>
    {% endfor %}
    <br />
    <div>
    </div>
    <img alt="" src="{{MEDIA_URL}}layout/jahoda.png" />
</div>


<div id="uvod_druhy">
    {% if news %}
    <h2>Novinky</h2>
    {% for n in news %}
    <h3>{{ n.inserted|date:"j. E Y" }}</h3>
    <div class="popisek">{{ n.text|linebreaksp }}</div>
    {% endfor %}
    {% else %}
    <h2>Náhodný recept</h2>
        <p>
        <a href="{% url core.views.recipe_detail random_recipe.slug %}" >{{ random_recipe.name }}</a>
        </p>
    {% endif%}
</div>

<div id="uvod_treti">
    <p><a href="{% url recipe_edit %}">Nový recept</a></p>
    <h2>Oblíbené kategorie</h2>
    {# TODO make this dynamic #}
    <p>
    <a href="{% url recipe_list 'smakoun' %}">Šmakoun</a><br />
    <a href="{% url recipe_list 'kureci-maso' %}">Kuřecí maso</a><br />
    <a href="{% url recipe_list 'veprove-maso' %}">Vepřové maso</a><br />
    <a href="{% url recipe_list 'hovezi-maso' %}">Hovězí maso</a><br />
    <a href="{% url recipe_list 'vegetarianska-jidla' %}">Vegetariánská jídla</a><br />
    <a href="{% url recipe_list 'salaty' %}">Saláty</a><br />
    <a href="{% url recipe_list 'polevky' %}">Polévky</a><br />
    <br />
    <a href="{% url category_list %}">Seznam kategorií</a></p>
    <img src="{{MEDIA_URL}}layout/vino.png" alt="" />
</div>

{% endblock content %}
