{% extends "core/two_column_left.html" %}
{% load edesia_extras %}
{% load comments %}
{% load ratings %}

{% block title %}
Recept {{ recipe.name }}
{% endblock title %}

{% block meta_description %}
<meta name="description" content="Popis receptu {{recipe.name }} na Internetové kuchařce Edesia. " />
{% endblock %}

{% block left %}

    <div id="recipe">
        {% comment %}
        TODO - left and right arrow for next/prev recipe (maybe, probably not that needed)
        TODO control for sharing recipe
        <a href="#"><img src="./layout/share.png" alt="share" title="share" class="share" /></a>
        <h1 class="recept">
          <a href="#">
            <img src="./layout/leftarrow.png" alt="předchozí recept" title="předchozí recept" />
          </a>
          Garlic Chicken Cheese
          <a href="#">
            <img src="./layout/rightarrow.png" alt="další recept" title="další recept" />
          </a>
        </h1>
        {% endcomment %}
        <h1 class="recipe">{{ recipe.name}}</h1>
        <p class="recipe">
            {% if recipe.preparation_time %}
              <img src="{{MEDIA_URL}}layout/clock.png" alt="Preparation time" title="Preparation time" />
                Doba přípravy: {{ recipe.preparation_time }} minut <br />
            {% endif %}
            {% if recipe.servings %}
                {# TODO number of servings - different icons #}
              <img src="{{MEDIA_URL}}layout/serving.png" alt="Number of servings" title="Number of servings" />
                Počet porcí: {{ recipe.servings }} 
            {% endif %}
        </p>
        <div id="ingredients">
            <h2>Přísady</h2>

            <ul>
            {% for ingredient in ingredient_list %}
            <li> {{ ingredient }} </li> 
            {% endfor %}
            </ul>
        </div>
        <div id="procedure">
            <h2>Postup</h2>
            {{ recipe.directions|linebreaksp }}

            {% if recipe.inserted_by %}
            <p style="float:right">Recept vložil{% if not recipe.inserted_by.get_profile.gender %}a{% endif %} {{ recipe.inserted_by }} </p>
            <br />
            <br />
            {% endif %}

        <div id="rating">
        <h4>Hodnocení receptu</h4>

        <p>

        {% if vote %}
        Vaše hodnocení: {{ vote }} <br />
        {% endif %}
        {% if recipe.rating.get_real_rating %}
        Celkové hodnocení: {{ recipe.rating.get_real_rating|floatformat:"-2" }}/5
        {% else %}
        Recept ještě nikdo nehodnotil. Buďte první a přidejte své hodnocení. <br />
        {% endif %}
        </p>

        {# recipe rating #}
         {% if can_vote %}
        {# TODO use some AJAX and stars #}
        <form action="{% url recipe_rate recipe.id %}" method="post" class="rating_form">
            <p>Počet bodů - vyšší číslo znamená chutnější recept.</p>

            <fieldset>
                <input type="radio" value="1" name="rating" />1
                <input type="radio" value="2" name="rating" />2
                <input type="radio" value="3" name="rating" />3
                <input type="radio" value="4" name="rating" />4
                <input type="radio" value="5" name="rating" />5

                <input type="submit" name="post" class="btn" value="Hlasovat" style="float: right;"/>
            </fieldset>
        </form>
        {% else %}
            {% if vote %}
            {# User has already voted - cannot vote again as anonymous #}
            {% else %}
            <p>
                Bohužel byl vyčerpán limit anonymních hodnocení receptu pro tuto IP adresu. Pokud chcete recept ohodnotit, tak se prosím
                <a href="{% url login %}">přihlaste</a> nebo 
                <a href="{% url register %}">zaregistrujte</a>.
                </p>
            {% endif %}
        {% endif %}
        </div>

        </div>
    </div>
    


{# recipe comments #}
<div id="recipe_comments">
    {% if not commentform %}
        {% get_comment_form for recipe as commentform %}
    {% endif %}
    <form action="{% comment_form_target %}" method="post" class="recipe_form" >
        <p>Vložte svůj názor na tento recept:<br/>
        (Pole označená hvězdičkou jsou povinná)</p>
        <fieldset>
        {% for field in commentform.visible_fields %}
        <div class="radek" {% ifequal field.name "honeypot" %} style="display:none;" {% endifequal %}>
            {{ field.errors }}
            {% comment %}
            {% if field.field.required %}*{% endif %} {# field is of type BoundField #}
            {{ field.label_tag }} 
            {% endcomment %}
            {# rendering manually because we need to mark required field with asterisk. make this generic #}
            <div class="udaje" >
                <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
            </div>
                {% ifequal field.name "name" %}
                    {% if user.is_authenticated %} <input id="id_name" value="{{ user.username }}" type="text" name="name" readonly="true" disabled="true" />
                    {% else %} {{ field }}{% endif %}
                {% else %}
                    {{ field }}
                {% endifequal %}
        </div>
        {% endfor %}


        {% for field in commentform.hidden_fields %}
         {{ field }}
        {% endfor %}
        <input type="hidden" name="next" value="{% url recipe_detail recipe.slug %}" />
            
        <hr class="cleaner" />
        <div class="radek">
          <p class="submit">
            <input type="submit" name="post" class="btn submit_comment" value="Odeslat" />
          </p> 
        </div>
        </fieldset>
    </form>
    {# TODO count of comments #}

    {# TODO paging ? (every 10 comments) #}
    {% get_comment_list for recipe as comment_list %}
    {% ifnotequal comment_list|length 0 %}

    <ol class="commentlist">
        {% for comment in comment_list %}
        <li class="{% cycle 'alt' '' %}"> {# TODO class="alt" for every other row #}
        <cite>
            {{ comment.user_name }}<br />
            <span class="comment-data">{{ comment.submit_date|date:"j. N Y, G:i" }}</span>
        </cite>
        <div class="comment-text">
            <p>{{ comment.comment }}</p>
        </div>
        </li>
    {% endfor %}
    </ol>
    {% endifnotequal %}
</div>


{% endblock left %}

{% block right %}
    {{ block.super }}
    <p><a href="{% url recipe_edit %}">Nový recept</a></p>

    {% if can_modify %}
    <p><a href="{% url recipe_edit recipe.slug %}">Upravit recept</a></p>
    {% endif%}

    Další recepty v kategorii:
    <ul>
    {% for tag in recipe.tags.all %}
        <li><a href="{% url core.views.recipe_list tag.slug %}">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>

    <div id="ads">
    </div>

    <div class="radek">
          <img src="{{MEDIA_URL}}layout/cesnek.png" alt="" />
    </div>

{% endblock right %}
