{% extends "core/two_column_left.html" %}

{% block title %}
 Edesia - editace receptu {{ recipe.name }}
{% endblock title %}

{% block left %}

<div id="recipe_edit">
    {% if form.instance.id %}
    <h2>{{ form.instance.name }}</h2>
    <form action="{% url recipe_edit form.instance.slug %}" method="POST">
    {% else %}
    <h2>Nový recept</h2>
    <form action="{% url recipe_edit %}" method="POST">
    {% endif %}
        {{ form.as_p }}

    <input type="submit" value="Uložit" class="btn" />
    {# TODO add Cancel button - redirect back/to home page #}
    <hr class="cleaner" />

    </form>
</div>

{% endblock left %}

