{% extends "core/base.html" %}
{% load edesia_extras %}
{% load comments %}

{% block title %}
 Edesia - {{ recipe.name }}
{% endblock title %}

{% block content %}

<h1>{{ recipe.name}}</h1>
<p>
{% if recipe.preparation_time %}
Doba přípravy: {{ recipe.preparation_time }} minut <br />
{% endif %}
{% if recipe.servings %}
Počet porcí: {{ recipe.servings }} 
{% endif %}
</p>
<h2>Přísady</h2>

<ul>
{% for ingredient in ingredient_list %}
<li> {{ ingredient }} </li> 
{% endfor %}
</ul>

<h2>Postup</h2>
{{ recipe.directions|linebreaksp }}

{% if recipe.inserted_by %}
<p>Recept vložil{% if not recipe.inserted_by.get_profile.gender %}a{% endif %} {{ recipe.inserted_by }} </p>
{% endif %}


{# recipe comments #}
{# TODO count of comments #}

{# TODO paging ? (every 10 comments) #}
{% get_comment_list for recipe as comment_list %}
<ol class="commentlist">
    {% for comment in comment_list %}
    <li class="{% cycle 'alt' '' %}"> {# TODO class="alt" for every other row #}
    <cite>
        {{ comment.user_name }}
        <span class="comment-data"></span>
    </cite>
    <div class="comment-text">
        <p>{{ comment.comment }}</p>
    </div>
    </li>
{% endfor %}
</ol>

{# TODO render manually - if user is logged, prefill his name #}
{% render_comment_form for recipe %}

{% endblock content %}

{% block context_menu %}
    {{ block.super }}

    {% if can_modify %}
    <li><a href="{% url recipe_edit recipe.slug %}">Upravit recept</a></li>
    {% endif%}

    {# TODO format properly #}
    Další recepty v kategorii:
    {% for tag in recipe.tags.all %}
        <li><a href="{% url core.views.recipe_list tag.slug %}">{{ tag.name }}</a></li>
    {% endfor %}
{% endblock context_menu %}
