{% extends "core/two_column_right.html" %}

{% block title %}
 {% if tag %}
 Kategorie receptů {{ tag.name }}
 {% else %}
 Edesia - všechny recepty
 {% endif %}
{% endblock title %}

{% block meta_description %}
 {% if tag %}
 <meta name="description" content="Seznam receptů v kategorii {{ tag.name }} v Internetové kuchařce Edesia. " />
 {% else %}
    <meta name="description" content="Seznam receptů v Internetové kuchařce Edesia. " />
 {% endif %}
{% endblock %}

{% block top_content %}
    <h1>Seznam receptů</h1>
    {% if tag.image %}
    {# category has specific image so we display that image. Otherwise we display default image #}
    <img id="aboutpic1" src="{{MEDIA_URL}}layout/{{ tag.image }}" alt="" style="padding-left:40px;position:relative;top:10px;"/>
    {% else %}
    <img id="aboutpic1" src="{{MEDIA_URL}}layout/1196128_16784458.jpg" alt="" style="padding-left:40px;position:relative;top:10px;"/>
    {% endif %}
{% endblock %}


{% block right %}

<div id="recipe_list" style="padding-left:80px;">
    {% if tag %}
    <h2> {{ tag.name }} </h2>
    <p><a href="{% url recipe_edit %}?tag={{ tag.slug }}">Nový recept</a></p>
    {% else %}
        <p><a href="{% url recipe_edit %}">Nový recept</a></p>
    {% endif %}

    <ul>
    {% for recipe in recipes.object_list %}
    <li>
      <a href="{% url core.views.recipe_detail recipe.slug %}" >{{ recipe.name }}</a>
    </li> 
    {% endfor %}
    </ul>

    {# TODO better page representation - display icons to First, Prev, Next, Last and a few pages around #}
    <div class="pagination">
        <span class="step-links">
            {% if recipes.has_previous %}
                <a href="?page={{ recipes.previous_page_number }}">Předchozí</a>
            {% endif %}

            <span class="current">
                Strana {{ recipes.number }}/{{ recipes.paginator.num_pages }}
            </span>

            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}">Další</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock right %}
