{% extends "core/two_column_right.html" %}

{% block title %}
 Edesia - Kontakt
{% endblock title %}

{% block right %}

<p>Pokud máte jakékoli dotazy či připomínky ke stránkám, neváhejte nám je sdělit pomocí tohoto webového formuláře, nebo odeslat email na <a href="mailto:info@edesia.cz">info@edesia.cz</a>.</p>

<form action="." method="post">
    <fieldset>
    {{ form.as_p }}

    <input type="submit" value="Odeslat" class="btn" style="float:right;" />
    </fieldset>
    <hr class="cleaner" />
</form>

{% endblock right %}

{% block left %}
    <img id="contactImage" src="{{MEDIA_URL}}layout/contact.jpg" alt="" style="padding:20px 0 0 20px;"/>
{% endblock left %}
