{% extends "core/two_column_left.html" %}

{% block title %}
 Edesia - Kontakt
{% endblock title %}

{% block left %}

<p>Pokud máte jakékoli dotazy či připomínky ke stránkám, neváhejte nám je sdělit pomocí tohoto webového formuláře, nebo odeslat email na <a href="mailto:info@edesia.cz">info@edesia.cz</a>.</p>

<form action="." method="post">
    <fieldset>
    {{ form.as_p }}

    <input type="submit" value="Odeslat" class="btn" style="float:right;" />
    </fieldset>
    <hr class="cleaner" />
</form>

{% endblock left %}
