{% extends "core/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/site_media/css/screen.css"/>
{% endblock extrastyle %}

{% block title %}
 Edesia - Chyba
{% endblock title %}

{% block content %}


<p>Litujeme, ale požadovaná stránka nebyla nalezena. Pokud si myslíte, že zde nějaká stránka není, napište nám prosím
na emailovou adresu <a href="mailto:errors@edesia.cz">errors@edesia.cz</a>.</p>

{% endblock content %}


{% block context_menu %}
{% endblock context_menu %}
