{% extends "core/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/site_media/css/screen.css"/>
{% endblock extrastyle %}

{% block title %}
 Edesia - Chyba
{% endblock title %}

{% block content %}


<p>Litujeme, ale při zpracování požadavku došlo k chybě. Všechny problémy průběžně sledujeme a opravujeme, nicméně pokud se problém bude stále opakovat,
dejte nám prosím vědět na emailové adrese <a href="mailto:errors@edesia.cz">errors@edesia.cz</a>.</p>

{% endblock content %}


{% block context_menu %}
{% endblock context_menu %}
