body
{
  background-color: rgb(255,255,255);
  font-family: Verdana;
  font-size: 11px;
  margin: 0px;
  line-height: 1.36em;
}

#body
{
  margin: 0px auto;
  width: 960px;
}

#banner
{
  padding-left:95px;
  /* width: 960px; */
  width: 700px;
  height: 106px;
  background-repeat: no-repeat;
}

#banner img
{
    border-style: none;
}

#menu
{
  text-align: center;
  width: 960px;
  padding-left: 70px;
  height: 20px;
}

#menu_list
{
    display: block;
    list-style-type: none;
    color: #4F9032;
}

#menu_list li
{
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-right: 50px;
}

#menu_list a
{
    text-decoration: none;
}

a:hover
{
  color: #FF2020;
}

hr
{
  border: 0px;
  border-bottom: 1px solid rgb(209,233,192);
  height: 1px;
}

#aboutpic1
{
  float: left;
  padding-left: 20px;
  padding-right: 35px;
}

#aboutpic2
{
  float: right;
/*  position:relative;
  top: -120px;
  left: 110px;*/
  margin-top: -120px;
  padding: 0 35px 10px 20px;
  z-index: -20;
}

/* header login info */
#login_info
{
    position:relative;
    top: -10px;
    font-size: 10px;
}

#login_info span.nobold
{
    font-weight: normal;
}

#main
{
    float:none;
    padding-right: 0px;/* why was this 150? */
    text-align: justify;
    width: 960px;  
    /* width: 900px;   */
}

#separator
{
    /*
    padding-left:95px;
    width:700px;
    */
    margin-top: 10px;
    padding-left:20px;
    width:900px;
}

h1
{
  font-size: 18px;
  /* padding-left: 260px; */
  text-align: center;
  padding-bottom: 10px;
}


h2
{
  font-size: 12px;
  padding-bottom: 10px;
}

h3
{
    color: rgb(130,51,2);
}

hr.cleaner
{
   clear: both;
   height: 1px;
   border: none;
   margin: -1em 0 0 0;
   visibility: hidden;
   float: none;
}


.author
{
  font-style: italic;
  font-weight: bold;
}


#left_wide
{
  padding-left: 40px;
  width: 520px;
  float: left;
}

#right_thin
{
  float: right;
  margin-left: 50px;
  width: 260px;
  margin-right: 90px; 
}

#right_wide
{
  padding-left: 300px;
  padding-right: 150px;
}

#recipe_comments
{
    clear:both;
    padding-top: 10px;
    float: right;
    width: 340px;
}

h1.recipe
{
  padding-left: 55px;
  padding-bottom: 0px;
  margin-top: 12px;
}

h1.recipe img
{
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
}

h1.recipe a
{
  text-decoration: none;
}

#recipe h2
{
  font-size: 15px;
}

#recipe img.share
{
  float: right;
  border: 0px;
  padding-top: 15px;
}

p.recipe
{
  padding-left: 15px;
}

#procedure
{
  float: right;
  width: 340px;
}

#procedure p
{
  line-height: 2em;
}

a
{
  /* color: #FF2020; */
    color: #4F9032;
    text-decoration: none;
}


#ingredients
{
    text-align:left;
    width: 150px;
    float: left;
}

#ingredients ul
{
  line-height: 1.36em;
  list-style-image: url("../layout/dot.png");
}


#right_thin ul li
{
  list-style-type: none;
}

#right_thin a
{
  color: rgb(79,144,50);
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

#right_thin img
{
    margin-left: -40px;
}

.submit_comment
{
    margin-left:90px;
    position: relative;
    z-index: 5;
}

#recipe_edit
{
    padding-left: 50px;
}

#recipe_edit ul
{
    padding-top: 30px;
    margin-left: 80px;
    list-style-type: none;
}

#recipe_edit input.btn
{
    float:right;
 /*   margin-right: 55px;
    margin-left:155px;*/
}

#ads
{
    height:200px;
}

#rating
{
    padding-top: 10px;
}

.rating_form
{
    padding:15px 25px 25px 20px;
}

.recipe_form
{
    background-color: #FFF;
    border: 0px;
}

.recipe_form input
{
    border: 2px solid #4F9032; 
    width: 180px;
}

.recipe_form textarea
{
    border: 2px solid #4F9032; 
    width: 180px;
    height: 80px;
}

input, select, textarea
{
  background-color: #FFF;
  border: 1px solid #D4D4D4;
  color: #000;
  font-family: verdana;
  font-size: 10px;
}

input[readonly], select[readonly], textarea[readonly]
{
    background-color: #E6E6E6;
}

input
{
  color: rgb(0,0,0);
  font-family: verdana;
  height: 15px;
  /* width: 150px; */
}

input.btn
{
    background-image: url('../layout/button_background.png');
    background-repeat: repeat-x;
    /* float: right; */
    margin-right: 15px; 
    padding: 0 15px 0 15px;
    font-family: verdana;
    font-weight: bold; 
    width: auto;
    height: 22px;
    color: #fcffde;
    border: 1px solid #d1e5c7; 
}

form
{
    background:none repeat scroll 0 0 #F8F8F8;
    border:1px solid #F0F0F0;
    padding: 10px;
}

form p label
{
    float:left;
    position:relative;
    top:8px;
    width:120px;
    font-weight: bold;
    color: #4F9032;
}

/* Main page */
#uvod_prvni
{
  float: left;
  width: 250px;
}

#uvod_prvni a
{
  color: rgb(79,144,50);
  text-decoration: none;
}

#uvod_prvni a:hover
{
  color: #FF2020;
}


#uvod_prvni img
{
  padding-left: 50px;
  padding-top: 25px;
}

#uvod_prvni h2
{
  font-size: 18px;
}

#uvod_druhy
{
  float: left;
  padding-left: 40px;
  width: 320px;
}

#uvod_druhy h2
{
  font-size: 18px;
}

#uvod_treti a
{
  color: #4F9032;
  text-decoration: none;
  line-height: 2em;
  font-size: 13px;
  font-weight: bold;
}

#uvod_treti a:hover
{
  color: #FF2020;
}

#uvod_treti h2
{
  font-size: 18px;
}


#uvod_treti img
{
  padding-top: 25px;
}


#uvod_treti
{
  float: right;
  text-align: left;
  padding-right: 90px;
}

.daily_tip
{
    text-align: center;
}

span.pravo
{
  color:#999;
  float: right;
}

span.popisek
{
  padding-left: 20px;
}

div.popisek
{
  padding-left: 20px;
}

#footer
{
  margin-left: auto;
  margin-right: auto;
  width: 960px; 
  height: 30px;
  padding-top: 20px;
}

#footer a
{
    color: #696969;
}

#footer a:link, #footer a:visited
{
    text-decoration: none;
}

#footer1
{
  padding-left: 100px;
  color: rgb(105,105,105);
}

#footer2
{
  padding-left:300px;
  color: rgb(105,105,105);
}

div.udaje
{
  width: 80px;
  float: left;
  padding-top: 4px;
}

div.radek
{
  margin-top: 6px;
  margin-bottom: 6px;
}


/* comments list - based on styleshout template Keep It Simple */
ol.commentlist {
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
.commentlist li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.commentlist li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.commentlist li cite img {
	float: left;
	margin-right: 10px;	
}
.commentlist li cite .comment-data {
	font-size: .8em;
	font-weight: normal;
}
.commentlist li .comment-text {
	clear: both;
	margin: 0; padding: 0;
}
.commentlist li.alt {
	background: #f8f8f8 
}
