{% if user.is_authenticated %}
<span style="position:relative; top:6px;">
<span class="nobold"> Přihlášen{% if not user.get_profile.gender %}a{% endif %} jako {{ user.username }}. </span>
<a href="{% url logout %}">Odhlásit</a><br />
<a href="{% url profile_edit %}">Nastavení</a>
</span>
{% else %}
{% comment %}
{# would need some better formatting #}
<form action="{% url login %}">{% csrf_token %}
 Uživatelské jméno: <input type="text" /><br />
 Heslo: <input type="password" />
</form>
{% endcomment %}
<a href="{% url login %}">Přihlásit</a><br />
<a href="{% url register %}">Nová registrace</a>

{% endif %}
