{% extends "core/two_column_left.html" %}

{% block title %}
 Edesia - změna hesla
{% endblock title %}

{% block left %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
    <div id="password_change">
        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <a href="{% url profile_edit %}" style="float:right;" >Nastavení</a>
            <fieldset>
                {{ form.as_p }}
                <label>&nbsp;</label><input type="submit" value="Uložit" class="btn" />
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block context_menu %}
    {# remove the default options #}
{% endblock context_menu %}
